@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

#negrita{
    color:black;
    font-weight: bold;
}

input{
    border-color: dodgerblue;
}

.select-css{
    border-color: dodgerblue;
}

